#fecha {color:red;} 
#fecha {background-color:yellow;} 
#fecha {background-image:url(2.jpg);}
#fecha {text-align:center}
#fecha {text-decoration:underline}
#fecha {text-indent}
#fecha {font-family:Arial}
#fecha {font-size:16px}
#fecha {font-weight:big}
#fecha {font-style:italic}
#fecha {font-size adjust:0,7}

