p#cuerpo {font-family:[Verdana]}
img#imagen { width:400; height:200;}
table#tabla {border-style: solid;}
tr#titulo {border-style: solid; background-color:black; color:White;}
tbody#cuerpot {border-style: solid;}
th#final {background-color:grey; color:black;}

